html,
body {
  font-size: 14px;
  font-family: Noto Sans;
  color: #595959;
}
p {
    padding: 0px;
    marging: 0px;
}
iframe {
  border: thin;

}
.topActions {
  top: 0px;
  left: 800px;
  position: fixed;
}
.navigation{
  height: 90%; /* Full-height: remove this if you want "auto" height */
  width: 320px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
  font-size: 12px;
  padding-left: 5px;
}
.top_right{
  position: fixed;
  left: 400px;
  top: 0;
}
.top{
  position: fixed;
  left: 600px;
  top: 0;
  padding-left: 30px;
}
.title{
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bolder;
    font-size: 16px;
}
#content {
  position: fixed;
  top: 40px;
  left: 400px;
  width: 100%;
  margin: 0px;
}
#action {
  position: fixed;
  top: 0px;
  right: 10px;
  width: 150px;
  align-items: center;
  align: center;
  text-align: center;
  padding: 20px;
}
#iframe {
  top: 0px;
  margin: 0px;
}
#mobile{
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 600px;
  width: 150px;
  align-items: center;
  align: center;
  text-align: center;
  padding: 20px;
  line-height: 20px;
  flex-direction: column;
}
.button  {
  background-color: transparent;
  color: #36454F;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
  margin: 8;
  padding: 6px 8px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
}
.button:hover {
    color: #DCDCDC;
    background-color:  #36454F;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}
.menu_item {
  padding: 0px;
  marging: 0px;
  cursor: pointer;
}
.menu_item_true {
  padding: 0px;
  marging: 0px;
  color: #6a747a;
  cursor: pointer;
}
.menu_item_false {
  padding: 0px;
  marging: 0px;
  color: #36454F;
  cursor: pointer;
}
.watermark {
    color: #E0E0E0;
    position: absolute;
    opacity: 0.25;
    font-size: 3em;
    width: 20%;
    text-align: right;
    z-index: 1000;
    right: 0px;
    bottom: 0px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #71797E;
  color: #efefef;
  text-align: center;
  z-index: 0;
}
